<h3>Material-buttons works!</h3>

<button mat-button>Click me!</button>
<button mat-raised-button color="primary">click here</button>

<!-- Material buttons -->

  <section>
  <div class="example-label">Raised</div>
  <div class="example-button-row">
    <button mat-raised-button matTooltip="ToolTip on Left" matTooltipPosition="left">Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <button mat-raised-button matTooltip="Bottom ToolTip">Action</button>

    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>

