<h1 style="text-align: center;font-weight: bold;margin-top: 30px;">{{title}}</h1>
<div class="container">
    <h1 class="heading"><strong>Services </strong>Angular</h1>
 
  
    <button mat-raised-button color="primary" (click)="getProducts()">Generate</button>
     <div class='table-responsive'>
         <br>
            <table class='table'>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products;">
                        <td>{{product.productID}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.price}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>

<div class="container">
    <h1> Tables</h1>
    <p>Bootstrap tables..</p>

<table mdbTable class="table table-striped table-hover">
    <thead>
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{head}} </th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let el of elements">
        <th scope="row">{{el.id}}</th>
        <td>{{el.first}}</td>
        <td>{{el.last}}</td>
        <td>{{el.handle}}</td>
      </tr>
    </tbody>
  </table>
</div>

<app-bootstrap-tutorial></app-bootstrap-tutorial>

<div class="container">
  <h2>Material Buttons Example:</h2>
<button mat-button color="primary">mat-raised-button Button</button>
<button mat-raised-button color="accent">Color: Accent Button</button>
<button mat-raised-button color="primary">Color: Primary Button</button>
<button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
  <mat-icon>public</mat-icon>
  <mat-icon>person_add</mat-icon>
</button>
<hr>

<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</div>

<div class="container">
<app-checkboxes></app-checkboxes>
<button mat-raised-button color="accent"><div (click)="clickexample()">Hello</div></button>
<input (keyup)="keyexmaple($event)">
<app-greetings [name]="insert"></app-greetings>
<app-car
[price]="100000"
brand="'Tesla'"
(sendPurchaseInfo) ="onInfoReceived($event)"
></app-car>
<h2>Material Tabs Example:</h2>
<mat-tab-group>
  <mat-tab label="Table-1"> <app-material-table></app-material-table> </mat-tab>
  <mat-tab label="Table-2"> <app-material-table></app-material-table> </mat-tab>
  <mat-tab label="Table-3"> <app-material-table></app-material-table> </mat-tab>
</mat-tab-group>

<app-material-buttons></app-material-buttons>>
<app-forms></app-forms>
</div>

