.container{
    text-align: center;
}

.email,.phone,.name,.password{
    width: 29%;
}
.full-width{
    width: 100%;
}

.top-padding{
    padding-top: 3px;
}

.margin-left mat-radio-button:not(:first-child){
    margin-left:10px;
}

.form-container{
    margin: 100px;
}

.reset-btn{
    margin-right: 16px;
}
.submit-btn{
    margin-right: 16px;
}
