<hr>
<h2>Event Emmitter Example:</h2>
<p>car works!</p>
<button mat-raised-button color="primary" (click)="purchase()">Purchase</button>
<br><br>
<mat-divider></mat-divider>
<mat-list-item>{{clicker}}</mat-list-item>
<mat-divider></mat-divider>
<mat-list-item>{{clicker1}}</mat-list-item>
<mat-divider></mat-divider>
<button mat-raised-button color="default" (click)="get($event)">Activate</button>
<button mat-raised-button color="accent" [disabled]="!num" (click)="get1($event)">{{server}}</button>

<mat-slide-toggle [disabled]="!num1">Slide me!</mat-slide-toggle>


<h2>Grid List Example: </h2>
<mat-grid-list cols="3" rowHeight="1:1">
	
    <mat-grid-tile>First Grid</mat-grid-tile>
    <mat-grid-tile>Second Grid</mat-grid-tile>
    <mat-grid-tile>Third Grid</mat-grid-tile>
    <mat-grid-tile>Fourth Grid</mat-grid-tile>
    <mat-grid-tile>Fifth Grid</mat-grid-tile>
    <mat-grid-tile>Sixth Frid</mat-grid-tile>
    
</mat-grid-list>
    
  