<hr>
<h2>Event Emmitter Example:</h2>
<p>car works!</p>
<button mat-raised-button color="primary" (click)="purchase()">Purchase</button>
<br><br>
<mat-divider></mat-divider>
<mat-list-item>{{clicker}}</mat-list-item>
<mat-divider></mat-divider>
<mat-list-item>{{clicker1}}</mat-list-item>
<mat-divider></mat-divider>
<button mat-raised-button color="default" (click)="get($event)">Activate</button>
<button mat-raised-button color="accent" [disabled]="!num" (click)="get1($event)">{{server}}</button>

<mat-slide-toggle [disabled]="!num1">Slide me!</mat-slide-toggle>


<h2>Grid List Example: </h2>
<mat-grid-list cols="2" rowHeight="1:1">
	<h1>Material-Select-option</h1>
    <mat-grid-tile class="g1">
        
        <mat-form-field appearance="fill">
            <mat-label>Select an option</mat-label>
            <mat-select [(value)]="selected">
              <mat-option>None</mat-option>
              <mat-option value="Dog">Dog</mat-option>
              <mat-option value="Cow">Cow</mat-option>
              <mat-option value="Fox">Fox</mat-option>
            </mat-select>
          </mat-form-field>
          
    </mat-grid-tile>
    <mat-grid-tile><h3>You have selected: <h1 style="font-weight: bold; text-align: center;">{{selected}}</h1></h3></mat-grid-tile>
    <mat-grid-tile><h3>Current Date is: <h2>{{date | date}}</h2></h3></mat-grid-tile>
    <mat-grid-tile><h2>{{'Knowledge in uppercase'| uppercase}}</h2></mat-grid-tile>
    <mat-grid-tile><h2>Indian Rupee:{{ 123456 | currency:'INR' }}<br>American Dollar:{{ 123456 | currency:'USD':'code' }}</h2></mat-grid-tile>
    <mat-grid-tile>Sixth Frid</mat-grid-tile>
    
</mat-grid-list>
    
  